<h1>A fantastically whimsical adventure</h1>
<p>One day, <%= @person1 %> and <%=p @person2 %> were taking a leisurely stroll through Mordor, when all of a sudden an unusually large <%= @animal %> appeared. "<%= @exclamation %>", <%= @person1 %> bellowed. The two of them <%= @verb %> as quickly as possible, and when they had finally found shelter, <%= @person1 %> and <%= @person2 %> gave each other a giant, manly <%= @noun %>. The end. </p>
